# Dia 1
## Temario:
- Tipos de datos
- oOperaciones matematicas
- Operaciones con string
- Operaciones logicas
- Operaciones booleanas

# Tipos de Datos

In [1]:
# Existen los datos:
enteros = 4 # Son numeros sin decimales
flotantes = 3.9 # Son numeros con decimales
type(flotantes)

float

In [2]:
# Caracteres/ Stings
caracteres = "a" #1 solo
cadena_caracteres ="Hola mundo" #todos los caracteres que quiera agregar o incluir en este espacio
type(caracteres)

str

In [3]:
# Booleanos
# Python tiene palabras reservados que los marca de color azul en este caso
falso = False # falso es = 0
verdadero = True # verdadero es = 1
type(verdadero)

In [6]:
# imprimir
print(enteros,caracteres)
print(cadena_caracteres)
print(falso)

4 a
Hola mundo
False

# El usuario tambien puede ingresar datos

In [41]:
# Con la funcion input, el usuario puede ingresar caulquier tipo de datos
# se puedes guardar los datos en variables
nombre = input("Ingrese su nombre: ")
print("Hola",nombre)
# Vamos a generar un error

num = input("Ingrese un numero: ")
print(num + 1 ) # Este crea un error porque no puedo sumar un string y un numero

Ingrese su nombre: 5
Hola 5
Ingrese un numero: 2

TypeError: can only concatenate str (not "int") to str

In [10]:
num = int(input("Ingresa un numero: ")) #int es tipo de dato que estoy ingresando
print(num + 1 )

Ingresa un numero: 5
6

# Operaciones matematicas

In [18]:
# Usa jerarquia de operaciones
# Suma Ordinaria
suma = 1 + 1
print(suma)
variable1, variable2 = 1, 2
print(variable1 + variable2)

# Resta Ordinaria
resta = 1 - 1
print(resta)
variable1, variable2 = 1, 2
print(variable1 - variable2)

2
3
0
-1

In [25]:
#Tercer nivel de importancia
print("Multiplicaion ordinaria")
Multi = 2 * 3.14
print(Multi)
print("----------------")
print("Division ordinaria")
Div = 1 / 2
print(Div)
print("Division de piso") #Redondea la division hacia abajo de numeros entereos, para casos especiales
Div_piso = 1 // 2
print(Div_piso)

Multiplicaion ordinaria
6.28
----------------
Division ordinaria
0.5
Division de piso
0

In [26]:
#Potencias
print("Potencia ordinaria")
potencia = 2 ** 3 #Tambien podemos hacer las raices por como funciones las raices
print(potencia)

Potencia ordinaria
8

In [29]:
#Area de un circulo
pi = 3.14
r = 4
A = pi*r**2
print(A)

50.24

# Operacion String

In [31]:
HM = "Hola Mundo"
print(HM)
a,b = "ta" , "co"
print(a+b)
print(a+ " "+b)

Hola Mundo
taco
ta co

In [32]:
# Animal, debe de tener un nombre, le debe gustar una fruta, debe tener una profesion
Animal = "Caballo"
Nombre = "Juan"
Fruta = "Manzana"
Profesion = "Inge"
print(f"Hola soy {Nombre}, soy un {Animal}, mi fruta favorita es {Fruta} y mi profesion es {Profesion}") #imprimir de una manera especial las cosas, incluir una f para poder escribir las cosas como quiero y en llaves deben de estar las variabels

Hola soy Juan, soy un Caballo, mi fruta favorita es Manzana y mi profesion es Inge

# Operaciones Logicas

In [36]:
#Empezamos con los operadores logicos <,> <=,>=, and, or, (Siempre retorna un booleano)
#Siempre va a retornar verdadero o falso
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14 #Aqui es falso porque el 14 no esta inlcuido en el rango de numeros
b4 = 14 >= 14
b3

False

In [39]:
# Que es un sandwich con todo
pan = True
queso = False
jamon = True
lechuga = True
tomate = True
mayonesa = True
print("Como se considera un sandwich verdadero")
print(pan or queso and jamon and lechuga and tomate and mayonesa)
print("Como se considera un sandwich falso")
print(pan and queso and jamon and lechuga and tomate and mayonesa)
#

Como se considera un sandwich verdadero
True
Como se considera un sandwich falso
False

In [40]:
# Operaciones con los booleanos
print(True * 20)
print (False * 20)

20
0