# Dia 3

## Temario

- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de datos

Las estructuras de datos son formas deorganizar informaci√≥n para trabajar con ellas de manera eficiente

- Listas -> Ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota: existen mas tipos de datos

- Pilas (FILO -> First in, Last Out)
- Colas (FIFO -> First in, First out)
- Listas enlazadas (o doblemente enlazado)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenar elementos de distintos tipos de datos

In [ ]:
# Las listas almacenan datos
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso", "jamon"]
# Las listas se manejan como arreglos, es decir empiezan desde el 0
print(lista_de_compras[0])

manzanas

In [ ]:
# Agregar un elemento a la lista usando .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa', 'sopa']

In [ ]:
# Agregar un elemto en una posicion especifica, se pueden generar duplicados por esta insercion
lista_de_compras.insert(1,"platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa', 'sopa']

In [ ]:
# Agregar un elemto en una posicion especifica, se pueden generar duplicados por esta insercion
lista_de_compras.insert(1,"platano")
print(lista_de_compras)
#duplicado

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa', 'sopa']

In [ ]:
# Para eliminar un elemento de una lista existe el pop y el remove
lista_de_compras.remove("platano")
print(lista_de_compras)
#Este comando puede borrar indefinidamente

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa', 'sopa']

In [ ]:
lista_de_compras.pop() #si no se especifica la posicion a eliminar este comando elimina el ultimo elemento del arreglo
# se puede eliminar un especifico empezando desde 0
lista_de_compras.pop(7) # devuelve el valor eliminado
# se puede guardar la variable de manera temporal
#

'jamon'

In [ ]:
# Podemos recorrer el arreglo por medio de un for

for elementos in lista_de_compras:
   print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso
sopa

In [ ]:
# len() saca el tam√±o de la lista
for i in range(len(lista_de_compras)): #range no trabaja con elementos, tenemos que saber el tama√±o de la lsita con la funcion len
  print(f"{i+1} - {lista_de_compras[i]}") #i+1 imprimo el valor numerico de la lista y agregandole 1 por la anidacion de python que empieza desde 0, y la otra funcion imprime el elemto de la lista en la posicion i

1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso
8 - sopa

In [2]:
promedios = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
print(promedios)
promedios.sort() # Sirve para ordenar la lista de manera ascendente
print(promedios)

# hay muchas formas de ordenar datos
#esta opcion de .sort es muy pesado y es mejor usar algoritmos especializados en eso

#ordenar una lista de manera descendentes
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [3]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [6]:
# Encontrar el mayor y el menor de una lista
print(max(promedios)) #las funciones se llaman por medio de parentesis y estas mismas palabras cambian de color
print(min(promedios))

100
23.6

In [17]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93], [99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Calificaion {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
Calificaion 1: 100
Calificaion 2: 88
Calificaion 3: 93

Alumno 2
Calificaion 1: 99
Calificaion 2: 56
Calificaion 3: 72

## Tuplas
colecciones ordenadas pero inmutables.

In [24]:
# Hagamos un programa donde guardaremos fechas de nacimientos de un grupo en una tabla

fechas = ("10/10/05", "22/03/02", "17/04/04", "25/02/04")
print(fechas)
print(type(fechas))

('10/10/05', '22/03/02', '17/04/04', '25/02/04')
<class 'tuple'>

In [19]:
# ES INMUTABLE
fechas.append("10/06/03") #Va a marcar error

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
# pero se encontro la manera de editar los valores

fecha_lista = list(fechas) # Aqui ya se pueden usar los comandos vasicos de una lista
print(fecha_lista)
print(type(fecha_lista))

['10/10/05', '22/03/02', '17/04/04', '25/02/04']
<class 'list'>

## Sets
Los sets son colecciones sin orden y NO permiten elementos duplicados

In [22]:
nombre = {"Angel", "Eliud", "Diana", "Juan"}
print(nombre)
print(type(nombre))

{'Juan', 'Diana', 'Angel', 'Eliud'}
<class 'set'>

In [28]:
distintos_datos = {"Angel", 1, "Eliud", "Diana",4.85,  "Juan", "Juan"}
distintos_datos

{1, 4.85, 'Angel', 'Diana', 'Eliud', 'Juan'}

In [29]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [30]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [31]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [32]:
# Union

matutino = {20322,22183, 123123, 53264}
vespertino = {20322, 55555, 44444, 123542}

#Union con .union
total_matriculas = matutino.union(vespertino)
print(total_matriculas)

# Union con  |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 55555, 22183, 53264, 123123, 123542, 44444}
{20322, 55555, 22183, 53264, 123123, 123542, 44444}

In [33]:
# Interseccion
ca = {1234, 121, 646 , 12414, 7613527, 4562138}
al = {1234, 111, 222, 33, 1548}

#Interseccion con .intersection
ca_al = ca.intersection(al)
print(ca_al)

#Interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [35]:
# Diferencia
solo_calculo = ca.difference(al)
print(solo_calculo)

# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{646, 7613527, 121, 4562138, 12414}
{646, 7613527, 121, 4562138, 12414}

In [37]:
# Diccionarios
nombre = {"Angel", "Eliud", "Diana", "Juan"}
# .remove
#nombre.remove("Angel") # Debes de indicar que nombre desear eliminar
print(nombre)

#.pop
nombre.pop() #Elimina el ultimo elemento, elimina un elemento aleatorio
print(nombre)

{'Juan', 'Diana', 'Angel', 'Eliud'}
{'Diana', 'Angel', 'Eliud'}

In [38]:
# Eliminar todo el SET
nombre.clear() #Elimina el contenido pero no elimina la variable
print(nombre)

set()

## Diccionarios
Son coleciones no ordenadas de pares clave:valor

In [51]:
alumno = {
    # Clave    Valor
    "nombre": "Hiram Diaz",
    "edad": 23,
    "carrera": "Ingeniero Civil",
    "semestre": 10,
    "promedio": 85,
    "calificaciones": [100, 94, 94, 97, 100],
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Hiram Diaz',
 'edad': 23,
 'carrera': 'Ingeniero Civil',
 'semestre': 10,
 'promedio': 85,
 'calificaciones': [100, 94, 94, 97, 100]}

In [52]:
# -------------------------------------------------------------- HASTA AQUI --------------------------------------------------
print("El alumono", alumno["nombre"], "esta estudiando", alumno["carrera"])

El alumono Hiram Diaz esta estudiando Ingeniero Civil

In [53]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Hiram Diaz',
 'edad': 23,
 'carrera': 'Ingeniero Civil',
 'semestre': 10,
 'promedio': 85,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [54]:
for valor in alumno:
  print(alumno[valor])

Hiram Diaz
23
Ingeniero Civil
10
85
[100, 94, 94, 97, 100]
Ciencia de Datos

In [55]:
for clave, valor in alumno.items():
  # Devuelve una vista
  print(clave, ": ", valor)

nombre :  Hiram Diaz
edad :  23
carrera :  Ingeniero Civil
semestre :  10
promedio :  85
calificaciones :  [100, 94, 94, 97, 100]
area preferida :  Ciencia de Datos

In [56]:
# El metodo .clear() tambien se puede usar aqui
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Hiram Diaz

In [57]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Hiram Diaz'), ('edad', 23), ('carrera', 'Ingeniero Civil'), ('semestre', 10), ('promedio', 85), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Hiram Diaz'), ('edad', 23), ('carrera', 'Ingeniero Civil'), ('semestre', 10), ('promedio', 85), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')]
<class 'list'>

In [59]:
# El metodo .values() sirve para obtener los values de diccionaro, tambien
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Hiram Diaz', 23, 'Ingeniero Civil', 10, 85, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [60]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if "dinero" in alumno:
  print("Alumno tiene dinero")
else:
  print("Almuno no tiene dinero")

Existe carrera
Almuno no tiene dinero

In [61]:
#.copy() puedes copuar tdo el diccionario en una nueva variable
# Update -> Sirve para cmabiar los values (valores) (.update())

alumno.update({"semestre": 6})
alumno
#

{'nombre': 'Hiram Diaz',
 'edad': 23,
 'carrera': 'Ingeniero Civil',
 'semestre': 6,
 'promedio': 85,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [ ]:
print("Juego: Adivina el N√∫mero")

numero_secreto = int(input("Jugador 1, escribe el n√∫mero secreto (1-20): "))

intentos = 0
max_intentos = 4

while intentos < max_intentos:
    intento = int(input("Adivina el n√∫mero: "))
    intentos += 1

    if intento == numero_secreto:
        print("¬°Correcto!")
        break
    else:
        print("Incorrecto, intenta de nuevo.")

Juego: Adivina el N√∫mero
Jugador 1, escribe el n√∫mero secreto (1-20): 5
Adivina el n√∫mero: 10
Incorrecto, intenta de nuevo.
Adivina el n√∫mero: 46
Incorrecto, intenta de nuevo.
Adivina el n√∫mero: 20
Incorrecto, intenta de nuevo.
Adivina el n√∫mero: 35
Incorrecto, intenta de nuevo.

In [62]:
# opcional

import random

opciones = ["piedra", "papel", "tijeras"]

while True:
    while True:
        eleccion = input(
            "\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): "
        ).lower()

        if eleccion not in opciones and eleccion != "salir":
            print("Opci√≥n no v√°lida, intenta de nuevo.")
        else:
            break

    if eleccion == "salir":
        print("¬°Gracias por jugar!")
        break

    aleatoria = random.choice(opciones)
    print("La computadora eligi√≥:", aleatoria)

    # Determinamos el ganador
    if eleccion == aleatoria:
        print("Empate üòê")
    elif (
        (eleccion == "piedra" and aleatoria == "tijeras") or
        (eleccion == "papel" and aleatoria == "piedra") or
        (eleccion == "tijeras" and aleatoria == "papel")
    ):
        print("¬°Ganaste! üòÑ")
    else:
        print("Perdiste üò¢")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligi√≥: tijeras
Perdiste üò¢

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligi√≥: papel
Empate üòê

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligi√≥: piedra
¬°Ganaste! üòÑ

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
¬°Gracias por jugar!

In [63]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {
    productos[i]: {"precio": precios[i], "stock": 10}
    for i in range(len(productos))
}  # <-- DICCIONARIO

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¬øQu√© producto quieres comprar? ").strip().lower()

if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible.")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $5 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $15 - Stock: 10 -> OFERTA!!!

¬øQu√© producto quieres comprar? Pan
Compraste 1 pan. Stock restante: 9